/***********************************************/
	/* PAGE STRUCTURE CSS                          */
	/***********************************************/
body {
	background: #efefef;
	font-family: Georgia, serif;
}

#container {
	border: 0;
	width: 96em;
	background-repeat: repeat-x;
}

#leftcolumn {
	width: 18em;
}

#content {
	width: 78em;
}

#header {
	height: 13.2em;
	margin: 0 auto;
	width: 96em;
}

#main {
	margin: auto;
	position: relative;
	top: 10px;
	width: 96em;
	background-color: #FFF;
}

#footer {
	width: 96em;
	height: 9.36em;
	margin: 20px auto 0;
	background-image: url(../images/background_mainpage_footer.gif);
	background-position: top left;
	font-size: 1em;
}

/***********************************************/
	/* PAGE ELEMENT STYLING CSS                    */
	/***********************************************/
td.detailscolumn .price {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 1.0em;
	font-style: normal;
}

/***** jQuery Dialog Skinning *****/
.ui-widget.quickview,.ui-widget.ui-dialog {
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
}

.ui-dialog .ui-dialog-title {
	font-size: 1.3em;
}

.ui-dialog .ui-dialog-titlebar {
	background-image: url(../images/background_bar.gif);
	background-position: top left;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
}

.ui-dialog-titlebar-close .ui-icon {
	background-image: url(../images/ui-icons_256x240.png);
}

/* SOME TYPO & VARIOUS
--------------------------------------------------------------------------------------- */
#main h1 {
	font-weight: 400;
	font-size: 2.8em;
	line-height: 1em;
	height: auto;
}

table th {
	background: #efefef;
}

button {
	font-size: 1.25em;
}

/* HEADER/FOOTER COMPONENTS (Logo, Search, User Info, Mini Cart, Links, Category Menu)
--------------------------------------------------------------------------------------- */
	/***** Header Logo *****/
#header h1.logo a {
	background: url(../images/logo.jpg) no-repeat center right
		/* Company Logo */;
	height: 3em /* Sets overall height of header */;
	left: 50px;
	top: 11px;
	
}

/***** Search Bar *****/
.sitesearch {
	top: 30px;
	width: auto;
}

.sitesearch form.simplesearch input.simplesearchinput {
	background-color: #F7F7F7;
	border: 1px solid #BDBDBD;
	color: black;
	float: left;
	padding: 2px 4px;
	width: 17em;
	font-size: 1.2em;
}

.sitesearch form.simplesearch input.simplesearchinput:focus {
	background-color: transparent;
}

.sitesearch button {
	background-color: #666;
	color: #FFFFFF;
	border: 1px solid #898C91;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	padding: 0 8px;
	font-family: Georgia, serif;
	margin-left: 5px;
}

.sitesearch button span {
	background: transparent none;
}

.sitesearch button:hover {
	background-color: #F38D21;
	border-color: #F38D21;
}

/***** HEADER/FOOTER Links (Store Locator, Help, Etc.) *****/
.generalnav {
	top: 3px;
	font-size: 1em;
	color: #333;
}

.generalnav ul li a {
	color: #333;
	font-size: 1.2em;
}

.generalnav ul li a:hover {
	color: #333;
	text-decoration: underline;
}

/***** User Information (Welcome Message, Login, Register, etc.) *****/
.headercustomerinfo {
	top: 0;
	color: #EF891D;
	font-size: 1.2em;
}

.headercustomerinfo a {
	color: #EF891D;
}

/* CATEGORY DEPARTMENTS MENU BAR
--------------------------------------------------------------------------------------- */
.categorymenu {
	top: 82px;
	background-color: transparent;
	border: 0px;
	font-size: 1.2em;
	height: 2.72em;
	text-align: left;
	background: #2B2B2B;
	text-transform: none;
}

.categorymenu ul {
	padding: 0;
}

.categorymenu a,.categorymenu a:visited {
	color: #fff;
	padding: 0 2em;
	line-height: 2.72em;
	vertical-align: middle;
}

.categorymenu a:hover {
	background: #666;
}

.categorymenu ul ul {
	border: 0px;
	top: 2.72em;
	background: #2B2B2B;
}

* html .categorymenu ul ul {
	/* hack for IE here */
}

.categorymenu ul ul a,
.categorymenu ul ul a:visited {
	color: #fff;
	padding: 8px;
}

.categorymenu ul ul li .subcategories a {
	padding: 5px;
}

/* the individual links in drop-downs */
.categorymenu ul ul a:hover {
	background-color: #666;
	color: #fff;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	top: 2.72em;
}

.sf-menu li li {
	background: transparent;
}

.copyright {
	margin: 0px;
}

/***** Header Slots CSSSLOTS STYLING *****/
.headerbanner {
	top: 20px;
}

.headerbar {
	color: #fff;
	background: #F38D21;
	top: 11.72em;
	line-height: 1.72em;
	vertical-align: middle;
}

/* HOME PAGE
--------------------------------------------------------------------------------------- */
.homepage {
	margin-top: 8px;
}

.pt_storefront .genericBackgroundHeader {
	background-color: #49433A;
	height: 2.4em;
	width: 17.3em;
	text-align: center;
}

.pt_storefront .genericBackgroundFooter {
	background-color: #49433A;
	height: 2em;
	width: 17.3em;
}

.pt_storefront .staticBackground {
	height: 0.8em;
	width: 17.3em;
}

.pt_storefront .staticBackground .corners {
	display: block;
	width: 17.3em;
	height: 0.8em;
}

.pt_storefront .staticBackground .genericCornerBackground {
	float: left;
	height: 0.8em;
	width: 15.3em;
	background-color: #49433A;
}

.pt_storefront .verticalcarouselheader {
	height: 3em;
	width: 17.3em;
	margin-top: 12px;
}

.pt_storefront .verticalcarouselheader .headerText {
	height: 1.4em;
	width: 12.7em;
}

.pt_storefront .verticalcarouselfooter {
	height: 2.6em;
	width: 17.3em;
}

.pt_storefront .verticalcarousel {
	height: 53.7em;
	width: 17.1em;
}

.pt_storefront .verticalcarousel a {
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1em;
	color: #555555;
}

.pt_storefront .jcarousel-container-vertical {
	top: 0px;
	border-left: 1px solid brown;
	border-right: 1px solid brown;
}

.pt_storefront .jcarousel-clip-vertical {
	height: 100%;
}

.pt_storefront .jcarousel-next-vertical {
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	background-color: #f7f7f7;
	bottom: 0px;
	left: 0px;
	height: 1.3em;
	width: 17.1em;
}

.pt_storefront .jcarousel-prev-vertical {
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	background-color: #f7f7f7;
	top: 0px;
	left: 0px;
	height: 1.3em;
	width: 17.1em;
}

.pt_storefront .prevInner {
	background-color: transparent;
	background-image: url(../../../images/carousol_prev-vertical.gif);
	background-repeat: no-repeat;
	background-position: 50% 31%;
	width: 17.1em;
	height: 1.2em;
}

.pt_storefront .nextInner {
	background-color: transparent;
	background-image: url(../../../images/carousol_next-vertical.gif);
	background-repeat: no-repeat;
	background-position: 50% 68%;
	width: 17.1em;
	height: 1.2em;
}

.pt_storefront .prevInner:hover {
	background-color: transparent;
	background-image: url(../../../images/carousol_prev-vertical.gif);
	background-repeat: no-repeat;
	background-position: 50% -5%;
	width: 17.1em;
	height: 1.2em;
}

.pt_storefront .nextInner:hover {
	background-color: transparent;
	background-image: url(../../../images/carousol_next-vertical.gif);
	background-repeat: no-repeat;
	background-position: 50% 104%;
	width: 17.1em;
	height: 1.2em;
}

.pt_storefront .jcarousel-prev-disabled-vertical,.pt_storefront .jcarousel-prev-disabled-vertical:hover,.pt_storefront .jcarousel-prev-disabled-vertical:active
	{
	background-position: 0px -96px;
}

.pt_storefront .jcarousel-prev-vertical:hover {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.pt_storefront .jcarousel-next-vertical:hover {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/* SEARCH RESULTS
--------------------------------------------------------------------------------------- */
	/* These styles create the default look for Product display with search results, cross sells and other places where multiple products are displayed. */
.productlisting .product .name a {
	color: #555555;
	font-size: 1.2em;
	font-weight: bold;
}

.producttile .image .quickviewbutton a {
	background-image: url(../images/quickview.gif);
}

/***** BREADCRUMB STYLES *****/
.breadcrumb {
	margin: 1.909em 0 1.454em 0.909em;
	font-size: 1.1em;
}

.refinementname {
	font-style: italic;
}

.refinementvalue,.refinementname {
	font-family: georgia, Times New Roman, Times, serif;
}

/* Paging
--------------------------------------------------------------------------------------- */
.pagination {
	padding: 8px 0 8px 0
}

.pagination a,.pagination a:visited {
	text-decoration: none;
}

.pagination a:hover {
	color: #000;
	text-decoration: underline;
}

.pagination li:hover {
	color: #000;
	background-color: #ccc;
}

.pagination ul li,
.pagination li.currentpage {
	padding: 2px 4px 4px 4px;
	background: #efefef;
}

.pagination li.currentpage {
	color: #fff;
	background-color: #F38D21;
}

.pagination li.firstlast {
	padding: 0px;
	background: transparent;
}

/* RESULTS REFINEMENT (Left Column Navigation)
--------------------------------------------------------------------------------------- */
.searchrefine {
	margin: 2.4em 0 2.4em 0;
	padding: 0 0 1.6em 0;
}

.searchrefine h1 {
	background: transparent;
	color: #333;
	font-size: 2.8em;
	height: 1.3em;
	line-height: 1.5em;
	padding: 0 0 0 0.53em;
	margin-top: -5px;
	text-transform: none;
}

.searchrefine .searchcategories {
	padding: 0 0 1.5em 0.4em;
}

#subnav .searchrefinements li {
	font-size: inherit;
	margin: 3px 0;
}

.searchrefinements li a {
	font-size: inherit;
}

#subnav .searchrefinements a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

.searchrefine .footer {
	width: 17.5em;
	height: 2.1em;
}

.searchrefine .staticBackground {
	width: 17.5em;
	height: 0.8em;
}

.searchrefine .staticBackground .corners {
	display: block;
	width: 17.5em;
	height: 0.8em;
}

.navgroup {
	padding-left: 0.363em;
	padding-right: 0.727em;
}

.navgroup h2 {
	font-weight: 400;
	text-transform: none;
	margin-bottom: 5px;
}

#searchrefinements {
}

/* SORTING
--------------------------------------------------------------------------------------- */

.sorthitscontainer {
	border: none;
	padding: 3px;
	background: #efefef;
}

/* PRODUCT DETAIL PAGE
--------------------------------------------------------------------------------------- */
.producttile {
	text-align: left;
}

.productdetail .productimage {
	border: 0px;
}

.productdetail .price .standardprice {
	color: #000000;
	font-size: .7em;
}

.productdetail .addtocartbar {
	background-image: url(../images/background_bar.gif);
	background-position: top left;
}

/***** Product Next/Previous on Product Detail Page (productnav.isml)*****/
.productdetail .productnavigation {
	width: 20.8em;
}

.productdetail .productnavigation span {
	visibility: hidden;
	display: none;
}

.productdetail .productnavigation .productprevious {
	background: transparent url(../images/previous.gif) no-repeat 0 10px;
	border-right: 1px solid #ccc;
	float: left;
	width: 10.3em;
}

.productdetail .productnavigation .productnext {
	background: transparent url(../images/next.gif) no-repeat right 10px;
	float: left;
	width: 10.3em;
}

.productdetail .productnavigation .productprevious img {
	padding: 0px 0px 0px 38px;
}

/* MINI-CART
--------------------------------------------------------------------------------------- */
.minicart {
	top: 64px;
	color: #333;
	font-weight: bold;
	font-size: 1.2em;
}

.minicart a {
	color: #333;
	font-weight: bold;
}

.minicart .minicarttotal {
	background: transparent url(../images/cart_icon.gif) no-repeat 0 0;
}

.minicart .minicarttotal .emptycart {
	margin-left: 15px;
}

.minicart .minicarttotal a {
	margin-left: 15px;
}

.minicartcontent {
	top: 18px;
}

.ordertotalstable {
	border-collapse: collapse;
}

.cartordertotals .ordertotalstable tr th,
.cartordertotals .ordertotalstable tr td {
	border: none;
	padding: 5px 5px 5px 5px;
}

.ordertotals .label {
}

/* ERROR MESSAGES
--------------------------------------------------------------------------------------- */
	/***** Cookies / Javascript disabled *****/
.disabledcontainer {
	background: transparent
		url(../images/background_header_disabled_message.gif) repeat-x top
		left;
}

.disabledmessage {
	background: transparent
		url(../images/background_header_disabled_message_bigicon.gif)
		no-repeat top left;
}

.disabledmessage p {
	font-family: georgia, Times New Roman, Times, serif;
}

/* PRICING */
.price {
	font-family: georgia, Times New Roman, Times, serif;
	font-size: 1.2em;
	font-style: italic;
}

/* MY ACCOUNT/CUSTOMER SERVICE
--------------------------------------------------------------------------------------- */
#leftcolumn .contentasset {
	margin-top: 2.4em;
}

.ordertotals {
	font-size: 1em;
}

.ordertotals th {
	padding: 3px;
}

/* CART
--------------------------------------------------------------------------------------- */
.cart {
	margin: 0 1em 1em;
	width: auto;
}

.discounts {
	text-align: center;
	font-weight: bold;
	color: #b84545;
	padding: 5px 0;
}

.minicart .discounts {
	font-size: 9px;	
}

.carttable {
	border-collapse: collapse;
	margin-bottom: 10px;
}

.carttable th {
	border: none;
}

#rightcolumn {
	float: right;
	width: 18em;
}

.cartlogin {
	padding: 0;
}

.logincustomers h2,
.logingeneral h2,
.logincreate h2 {
	font-weight: 400;
}

.cartlogin .logincustomers {
	margin-right: 1em;
	float: left;
	width: auto;
}

.cartlogin .returningcustomers {
	 margin: 0 5px 3px;
}

.cartlogin .returningcustomers .value {
	width: 100%;
}

.cartlogin .returningcustomers input.textinput,
.cartlogin .returningcustomers input.textinputpw {
	width: 95%;
}

.checkoutlogin {
    margin: 5px 10px;
    width: auto;
}

.createaccount .createaccountbutton {
	margin: 0;
}

.registration {
	margin: 5px 10px;
}

.checkout {
    font-size: 1.12em;
    margin: 5px 10px;
    width: auto;
}

.checkout .checkoutshipping h2,
.checkout .checkoutbilling h2,
.checkout .checkoutshipping h5,
.checkout .checkoutbilling h5 {
    background-color: #efefef;
    color: black;
    font-size: 1.8em;
    padding: 8px;
}