<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaDemoRest2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ecm.demo.rest.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ecm.demo.rest.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.ecm.demo.rest.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CustomerAccountServlet</display-name>
    <servlet-name>CustomerAccountServlet</servlet-name>
    <servlet-class>com.ecm.demo.rest.CustomerAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ProductSearchServlet</display-name>
    <servlet-name>ProductSearchServlet</servlet-name>
    <servlet-class>com.ecm.demo.rest.ProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductSearchServlet</servlet-name>
    <url-pattern>/productSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerAccountServlet</servlet-name>
    <url-pattern>/customerAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StringtoXML</display-name>
    <servlet-name>StringtoXML</servlet-name>
    <servlet-class>com.ecm.demo.rest.StringtoXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StringtoXML</servlet-name>
    <url-pattern>/StringtoXML</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hyu</display-name>
    <servlet-name>Hyu</servlet-name>
    <servlet-class>com.ecm.demo.rest.Hyu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hyu</servlet-name>
    <url-pattern>/Hyu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Experiment</display-name>
    <servlet-name>Experiment</servlet-name>
    <servlet-class>com.ecm.demo.rest.Experiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Experiment</servlet-name>
    <url-pattern>/Experiment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.ecm.demo.rest.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCartServlet</display-name>
    <servlet-name>ViewCartServlet</servlet-name>
    <servlet-class>com.ecm.demo.rest.ViewCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCartServlet</servlet-name>
    <url-pattern>/viewCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMiniCartServlet</display-name>
    <servlet-name>ViewMiniCartServlet</servlet-name>
    <servlet-class>com.ecm.demo.rest.ViewMiniCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMiniCartServlet</servlet-name>
    <url-pattern>/viewMiniCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutCartServlet</display-name>
    <servlet-name>CheckoutCartServlet</servlet-name>
    <servlet-class>com.ecm.demo.rest.CheckoutCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutCartServlet</servlet-name>
    <url-pattern>/checkoutCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageView</display-name>
    <servlet-name>PageView</servlet-name>
    <servlet-class>com.ecm.demo.rest.PageView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageView</servlet-name>
    <url-pattern>/PageView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductView</display-name>
    <servlet-name>ProductView</servlet-name>
    <servlet-class>com.ecm.demo.rest.ProductDetailViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductView</servlet-name>
    <url-pattern>/productView</url-pattern>
  </servlet-mapping> 
</web-app>